.Player {
  border: 1px solid white;
  display: inline-block;
  width: 45%;
  font-weight: 24px;
}

.Winner {
  color: green;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
}

.Board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
}

.Block {
    border: 2px solid white;
    position: relative;
}

#block0, #block1, #block2 {
  border-top: none;
}

#block6, #block7, #block8 {
  border-bottom: none;
}

#block0, #block3, #block6 {
  border-left: none;
}

#block2, #block5, #block8 {
  border-right: none;
}

.XClass:after {
  content: 'X';
  font-size: 150px;
  position: absolute;
  left: 20%;
  top: -12%;
}

.OClass:after {
  content: 'O';
  font-size: 150px;
  position: absolute;
  left: 8%;
  top: -12%;
}
