.Player {
  border: 1px solid white;
  display: inline-block;
  height: 162px;
  width: 45%;
  font-weight: 24px;
}

.PlayerCharacter {
  margin-bottom: 0;
}

.PlayerName {
  margin-top: 0;
}

.Winner {
  color: #5ee35e;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  margin-top: 0;
}

.Loser {
  color: #bf4242;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  margin-top: 0;
}

.Tie {
  color: white;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  margin-top: 0;
}

.Board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
}

.Block {
    border: 2px solid white;
    position: relative;
    cursor: pointer;
}

#block0, #block1, #block2 {
  border-top: none;
}

#block6, #block7, #block8 {
  border-bottom: none;
}

#block0, #block3, #block6 {
  border-left: none;
}

#block2, #block5, #block8 {
  border-right: none;
}

.XClass, .OClass, .Complete {
  pointer-events: none;
}

.XClass:after {
  content: 'X';
  font-size: 150px;
  position: absolute;
  left: 20%;
  top: -12%;
}

.OClass:after {
  content: 'O';
  font-size: 150px;
  position: absolute;
  left: 8%;
  top: -12%;
}

.XHover:hover:after {
  content: 'X';
  font-size: 150px;
  position: absolute;
  left: 20%;
  top: -12%;
  color: #57726f;
  opacity: 0.8;
}

.OHover:hover:after {
  content: 'O';
  font-size: 150px;
  position: absolute;
  left: 8%;
  top: -12%;
  color: #57726f;
  opacity: 0.8;
}
