.Button {
  font-weight: bolder;
  font-size: 24px;
  color: rgba(91, 157, 148, 1);
  padding: 4px;
  margin: 6px;
  width: 274px;
  display: inline-block;
  border-radius: 5px;
}

.PrimaryButton {
  background-color: white;
}

.SecondaryButton {
  background-color: #57726f;
  color: white;
}

.DestructiveButton {
    background-color: #bf4242;
}
